* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	border-collapse: collapse;
}

html,body {
	color: #333333;
	font: 14px/18px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	min-width: 980px;
	line-height: 16px;
	width: 100%;
}

a{
	text-decoration: none;
	color: #333399;
}

a:HOVER {
	outline: none;
	color: #999999;
}

#wrapper {
	margin: 0 auto;
	width: 970px;
	z-index: 1;
	padding: 30px;
}

#warning {
	text-align: center;
}

.forma {
    width: 600px;
    margin: 30px auto 0;
}

.forma input, .forma textarea {
	display: block;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 5px #CCCCCC inset;
	border-radius: 5px;
	padding: 10px;
}

.forma button {
    margin: 20px auto 0;
}

.btn {
	display: block;
    border-radius: 5px;
	padding: 5px 20px;
	border-bottom: 2px solid #BCBCBC;
	cursor: pointer;	
	background-color: #DDDDDD; 
}

.btn:HOVER {
	border: 0;
	border-top: 1px solid #BCBCBC;
	border-bottom: 1px solid #BCBCBC;
}

.btn:ACTIVE {
	border: 0;
	border-top: 2px solid #BCBCBC;
	outline: none;
}

#messages {
	margin-top: 40px;
}

#messages .mess{
	border-radius: 10px;
	box-shadow:0 0 5px #999999;
	padding: 10px;
	margin: 10px;
}

#messages p{
	padding: 5px;
}

#messages span{
	font-size: 12px;
}

.edit{
	float: right;
}

.edit .btn{
	float: right;
	margin: -5px 10px;
}

#message {
	padding: 20px;
}

#message h1{
	font-size: 20px;
}

#message p{
	font-weight: normal;
	padding: 10px 0;
	border-bottom: 1px dotted #999999
}

#message span{
	margin: 0 10px 0 30px;
	font-weight: bold;
}


#menu a {
	margin: 10px;
}

#menu a.active {
	font-weight: bold;
	color: #999999;
}